SQLite is a lightweight, self-contained, serverless, and zero-configuration relational database management system. It is widely used for embedded database systems and is implemented as a C library. SQLite stores the entire database in a single file on disk, making it easy to use and portable.

Key features of SQLite:
- **Serverless**: No need for a separate server process; the database is directly accessed from the application.
- **Zero Configuration**: No setup or administration is required.
- **Lightweight**: Small footprint and efficient.
- **Cross-Platform**: Works on multiple operating systems.
- **ACID-Compliant**: Ensures data integrity through atomicity, consistency, isolation, and durability.

SQLite is commonly used in mobile applications, embedded systems, and small-scale projects where a full-fledged database server is unnecessary.

In [1]:
import sqlite3

In [2]:
# connect to the SQLite database
conn = sqlite3.connect('example.db')
conn

In [3]:
cursor = conn.cursor()
# create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

#commit the changes
conn.commit()

In [6]:
cursor.execute('''
INSERT INTO users (name, age) VALUES
('Alice', 30),
('Bob', 25),
('Charlie', 35)
''')

# commit the changes
conn.commit()

In [8]:
cursor.execute('''
SELECT * FROM users
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)

In [11]:
#update a record
cursor.execute('''
               UPDATE users
               SET age = 31
               WHERE name = 'Alice'
               ''')

# commit the changes
conn.commit()

for row in cursor.execute('SELECT * FROM users'):
    print(row)

(1, 'Alice', 31)
(2, 'Bob', 25)
(3, 'Charlie', 35)

In [13]:
#delete a record
cursor.execute('''
               DELETE FROM users
               WHERE name = 'Bob'
               ''')
# commit the changes
conn.commit()

for row in cursor.execute('select * from users'):
    print(row)

(1, 'Alice', 31)
(3, 'Charlie', 35)